<configuration debug="true">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{dd.MM.yyyy HH:mm:ss.SSS} %highlight(%-5level) [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.sothawo.mapjfx" level="all" />

    <!--  setting this to more than INFO crashes the JVM -->
    <logger name="com.sun.javafx.webkit.prism" level = "info" />

    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
