/*default style for a mapview label */
.mapview-label {
    border-radius: 5px;
    border: 1px solid black;
    background: #eeeeee;
    background: linear-gradient(#eeeeee, #aaaaaa);
    padding: 2px;
}
