/*default style for a mapview label */
.mapview-label {
    border-radius: 5px;
    border: 1px solid black;
    background: #eeeeee linear-gradient(#eeeeee, #aaaaaa);
    padding: 2px;
}

/*dragbox for selecting an extent*/
.ol-dragbox {
    background-color: rgba(255, 255, 255, 0.4);
    border-color: rgba(100, 150, 0, 1);
}
