<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<!--
   Logging Konfiguration für debug; die Logging Aufrufe werden mit debug Level durchgeführt, die Ausgabe wird aber
   verworfen.
-->
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

    <appender name="quiet" class="org.apache.log4j.varia.NullAppender"/>
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <!--
            <param name="ConversionPattern" value="%d{ISO8601} %-5p [%t] (%X{akkaSource}) %c %x - %m%n"/>
            <param name="ConversionPattern" value="%d{ISO8601} %-5p (%X{akkaSource}) %c %x - %m%n"/>
            <param name="ConversionPattern" value="%d{ISO8601} %-5p %c - %m%n"/>
            -->
            <param name="ConversionPattern" value="%d{ISO8601} %-5p [%t] %c %x - %m%n"/>
        </layout>
    </appender>

    <logger name="com.sothawo.mapjfx">
        <level value="debug"/>
    </logger>

    <root>
        <level value="debug"/>
        <appender-ref ref="console"/>
    </root>

</log4j:configuration>
